name: Verify Docker Images

on: [push, pull_request]

jobs:
  verify-corretto:
    name: Verify Corretto JDK Images
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: [ 8, 11, 17, 21 ]
        package: [ jdk ]
        platform: [ al2-generic, debian ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test Corretto ${{ matrix.version }} ${{ matrix.package }} package on ${{ matrix.platform }}
        run: ./bin/test-image.sh "${{ matrix.version }}/${{ matrix.package }}/${{ matrix.platform }}/Dockerfile" ${{ matrix.version }} ${{ matrix.package }}

  verify-corretto-slim:
    name: Verify Corretto Slim Images
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: [ 17, 21, 22 ]
        package: [ slim ]
        platform: [ al2, alpine, debian ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test Corretto ${{ matrix.version }} ${{ matrix.package }} package on ${{ matrix.platform }}
        run: ./bin/test-image.sh "${{ matrix.version }}/${{ matrix.package }}/${{ matrix.platform }}/Dockerfile" ${{ matrix.version }} ${{ matrix.package }}

  verify-corretto-8-on-al:
    name: Verify Corretto 8 Images on AL2/2023
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: [ 8 ]
        package: [ jdk, jre ]
        platform: [ al2, al2023 ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test Corretto ${{ matrix.version }} ${{ matrix.package }} package on ${{ matrix.platform }}
        run: ./bin/test-image.sh "${{ matrix.version }}/${{ matrix.package }}/${{ matrix.platform }}/Dockerfile" ${{ matrix.version }} ${{ matrix.package }}

  verify-corretto-11-plus-on-al2023:
    name: Verify Corretto 11+ Images on AL2023
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: [ 11, 17, 21, 22 ]
        package: [ jdk, headful, headless ]
        platform: [ al2023 ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test Corretto ${{ matrix.version }} ${{ matrix.package }} package on ${{ matrix.platform }}
        run: ./bin/test-image.sh "${{ matrix.version }}/${{ matrix.package }}/${{ matrix.platform }}/Dockerfile" ${{ matrix.version }} ${{ matrix.package }}

  verify-corretto-on-alpine:
    name: Verify Corretto JDK Images on Alpine
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: [ 8, 11, 17, 21, 22 ]
        os_version: ["3.16", "3.17", "3.18", "3.19"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test Corretto ${{ matrix.version }} jre package on alpine ${{ matrix.os_version }}
        run: ./bin/test-image.sh "${{ matrix.version }}/jdk/alpine/${{ matrix.os_version }}/Dockerfile" ${{ matrix.version }} jdk
      - name: Test Corretto JRE
        if : ${{ matrix.version == '8' }}
        run: ./bin/test-image.sh "${{ matrix.version }}/jre/alpine/${{ matrix.os_version }}/Dockerfile" ${{ matrix.version }} jre
  verify-corretto-jdk-al2:
    name: Verify Corretto Devel Images for AmazonLinux
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: [ 11, 17 ]
        package: [ jdk ]
        platform: [ al2 ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test Corretto ${{ matrix.version }} ${{ matrix.package }} package on ${{ matrix.platform }}
        run: ./bin/test-image.sh "${{ matrix.version }}/${{ matrix.package }}/${{ matrix.platform }}/Dockerfile" ${{ matrix.version }} jre
      - name: Test Corretto JDK ${{ matrix.version }} ${{ matrix.package }} package on ${{ matrix.platform }}
        run: ./bin/test-image.sh "${{ matrix.version }}/${{ matrix.package }}/${{ matrix.platform }}/Dockerfile" ${{ matrix.version }} jdk


  verify-corretto-headful-al2:
    name: Verify Corretto Headful Images for AmazonLinux
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: [ 17 ]
        package: [ headful ]
        platform: [ al2 ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test Corretto ${{ matrix.version }} ${{ matrix.package }} package on ${{ matrix.platform }}
        run: ./bin/test-image.sh "${{ matrix.version }}/${{ matrix.package }}/${{ matrix.platform }}/Dockerfile" ${{ matrix.version }} jre
  verify-corretto-headless-al:
    name: Verify Corretto Headless Images for AmazonLinux
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: [ 11, 17 ]
        package: [ headless ]
        platform: [ al2 ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test Corretto ${{ matrix.version }} ${{ matrix.package }} package on ${{ matrix.platform }}
        run: ./bin/test-image.sh "${{ matrix.version }}/${{ matrix.package }}/${{ matrix.platform }}/Dockerfile" ${{ matrix.version }} jre
      - name: Test Corretto 11 JDK ${{ matrix.version }} ${{ matrix.package }} package on ${{ matrix.platform }}
        if : ${{ matrix.version == '11' }}
        run: ./bin/test-image.sh "${{ matrix.version }}/${{ matrix.package }}/${{ matrix.platform }}/Dockerfile" ${{ matrix.version }} jdk
